body{

   background-image: url(ganeshaji.jpg);
   background-size: 500px 500px;
   background-repeat: no-repeat;
   background-position: center top;
   background-color: bisque;
}
h1{
   margin-top:0px;
background-color: aqua;
text-align: center;
border-style: solid;
border-radius: 50px;
border-width: 5px;
border-color: red green blue yellow;
padding: 5px;
}
h2{
   margin-top:450px;
   background-color: greenyellow;
   text-align: center;
   border-style: solid;
   border-radius: 50px;
   border-width: 5px;
   border-color: red green blue yellow;
   padding: 5px;
   }